.footer {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: center;
}

.foot {
  font-size: 96px;
  font-weight: 700;
  line-height: 116px;
  margin: 0;
  color: rgba(64, 70, 125, 1);
}

@media (max-width: 1025px){
    .foot {
        font-size: 76px;
        font-weight: 600;
        line-height: 96px;
    }

}


@media (max-width: 376px) {
    .foot {
        font-size: 53px;
    }
}
