.wrapper {
  padding: 145px 0;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 154px;
  max-width: 1454px;
  margin: auto;
}

@media (max-width: 1025px) {
  .wrapper {
    padding: 85px 0;
  }
  .cards {
    gap: 50px;
  }
}
